.header {
    align-items: center;
    background-color: #3F51B5;
    display: flex;
    font-size: 16px;
    color: white;
    height: 460px;
    width: 100%;
}

.imageContainer {
    background-color: white;
    height: 300px;
    margin-left: 30px;
    width: 200px;

    img {
        height: 100%;
        width: 100%;
    }
}

.description {
    margin-left: 10px;
}

.test {
 &:before { content: '\e606'; }
}