@import "normalize.css";

.app {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Droid Sans', sans-serif;
    font-size: 40px;
    height: 100vh;
    width: 100vw;
}

.example {
    height: 100vh;
    opacity: 0.6;
    position: absolute;
    width: 100vw;
    z-index: 0;
}

.title {
    z-index: 1;
}

